<div class="blog-page">
  <div class="blog-box" isotope infinitescroll data-is-template="video-tmpl">
    <% @videos.each do |video| %>

      <div class="blog-post video-post">
        <div class="inner-post">
          <!-- youtube -->
          <iframe class="videoembed" src="http://www.youtube.com/embed/<%= video.id %>"></iframe>
          <!-- End youtube -->
          <div class="post-content">
            <h2><a href="http://youtu.be/<%= video.id %>" target="_blank"><%= video.title %></a></h2>
            <p><%= video.description %></p>
            <ul class="post-tags">
              <li><a href="#"><i class="fa fa-heart"></i><%= video.likeCount %> curtidas</a></li>
              <li><a href="#"><i class="fa fa-comment"></i><%= video.commentCount %> comentários</a></li>
              <li><a href="#"><i class="fa fa-calendar"></i><%= l video.uploaded, :format => "%e/%b/%Y, %H:%M" %></a></li>
            </ul>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<nav id="page_nav">
  <a href="<%= request.original_url %>/page/2"></a>
</nav>

<script id="video-tmpl" type="text/x-jsrender">
  <div class="blog-post video-post">
    <div class="inner-post">
      <iframe class="videoembed" src="http://www.youtube.com/embed/{{:id}}"></iframe>
      <div class="post-content">
        <h2><a href="http://youtu.be/{{:id}}" target="_blank">{{:title}}</a></h2>
        <p>{{:description}}</p>
        <ul class="post-tags">
          <li><a href="#"><i class="fa fa-heart"></i>{{:likeCount}} curtidas</a></li>
          <li><a href="#"><i class="fa fa-comment"></i>{{:commentCount}} comentários</a></li>
          <li><a href="#"><i class="fa fa-calendar"></i>{{:uploaded}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</script>