<div class="portfolio-page">
	<div class="portfolio-box" isotope data-host="<%= @album.host_thumbs %>">

		<div class="project-post aside-post">
			<div class="inner-post">
				<div class="post-content">
					<h2><%= @album.title %></h2>
					<p><%= @album.description %></p>
				</div>
			</div>
		</div>

		<% @items.each do |item| %>
			<div class="project-post">
				<img src="<%= @album.host + '/' + item.download_link.match(/\/([^\/]+.jpg)/)[1] %>">
			</div>
		<% end %>

	</div>
</div>

<nav id="page_nav">
  <a href="<%= request.original_url %>/page/2"></a>
</nav>

<script id="gallery-image-tmpl" type="text/x-jsrender">
<div class="project-post">
	<img src="{{:host}}">
</div>
</script>