<!doctype html>

<html class="no-js">
<head>
	<title>GPS</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "application", params[:controller], :media => "all", 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	
</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header>
			<div class="logo-box">
				<a class="logo" href="index.html"><%= image_tag "logo.png" %></a>
				<p class="slogan">O Primeiro Consulado Virtual do Mundo</p>
			</div>

			<a class="elemadded responsive-link" href="#">Menu</a>

			<div class="menu-box">
				<ul class="menu">
					<li><a class="active" href="index.html">Home</a></li>
					<li><a href="about.html">Quem Somos</a></li>
					<li><a href="portfolio.html">Notícias</a></li>
					<li><%= link_to "Fotos", gallery_path %></li>
					<li><%= link_to "Vídeos", gallery_path %></li>
					<li><a href="services.html">Textos</a></li>
					<li><a href="contact.html">Loja</a></li>
				</ul>				
			</div>

			<div class="archives-box">
				<h2>Arquivos</h2>
				<ul class="archives">
					<li><a href="#">Dezembro de 2014</a></li>
					<li><a href="#">Novembro de 2014</a></li>
					<li><a href="#">Outubro de 2014</a></li>
					<li><a href="#">Setembro de 2014</a></li>
					<li><a href="#">Agosto de 2014</a></li>
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">2014 <span class="caret"></span></a>
						<ul role="menu" class="sub-menu dropdown-menu">
							<li><a href="#">Julho</a></li>
							<li><a href="#">Junho</a></li>
							<li><a href="#">Maio</a></li>
							<li><a href="#">Abril</a></li>
							<li><a href="#">Março</a></li>
							<li><a href="#">Fevereiro</a></li>
							<li><a href="#">Janeiro</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">2013 <span class="caret"></span></a>
						<ul role="menu" class="sub-menu dropdown-menu">
							<li><a href="#">Dezembro</a></li>
							<li><a href="#">Novembro</a></li>
							<li><a href="#">Outubro</a></li>
							<li><a href="#">Setembro</a></li>
							<li><a href="#">Agosto</a></li>
							<li><a href="#">Julho</a></li>
							<li><a href="#">Junho</a></li>
							<li><a href="#">Maio</a></li>
							<li><a href="#">Abril</a></li>
							<li><a href="#">Março</a></li>
							<li><a href="#">Fevereiro</a></li>
							<li><a href="#">Janeiro</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">2012 <span class="caret"></span></a>
						<ul role="menu" class="sub-menu dropdown-menu">
							<li><a href="#">Dezembro</a></li>
							<li><a href="#">Novembro</a></li>
							<li><a href="#">Outubro</a></li>
							<li><a href="#">Setembro</a></li>
							<li><a href="#">Agosto</a></li>
							<li><a href="#">Julho</a></li>
							<li><a href="#">Junho</a></li>
							<li><a href="#">Maio</a></li>
							<li><a href="#">Abril</a></li>
						</ul>
					</li>
				</ul>				
			</div>
			<!-- 
			<div class="categories-box">
				<h2>Categories</h2>
				<ul class="categories">
					<li><a href="#">Photography</a></li>
					<li><a href="#">Websites</a></li>
					<li><a href="#">Logo Design</a></li>
					<li><a href="#">Brochures</a></li>
				</ul>
			</div>
 			-->
			<div class="social-box">
				<ul class="social-icons">
					<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
					<li><a href="#"><i class="fa fa-rss-square"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
					<li><a href="#"><i class="fa fa-flickr"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
			<p class="copyright">&#169; <%= Time.now.year %> Grupo Gigante Para Sempre, Todos los izquierdos reservados</p>
			<!-- <p class="copyright">Pague o IPVA</p> -->
		</header>
		<!-- End Header -->

		<!-- content 
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<%= yield %>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<div class="preloader">
		<%= image_tag "preloader.gif" %>
	</div>

	<%= javascript_include_tag "application", params[:controller], 'data-turbolinks-track' => true %>

</body>
</html>